@mixin formu{
  font-family: Arial, Helvetica, sans-serif;
color: white;
background-color: darkturquoise;
}

.titulo {
    background-color: lightskyblue;
    color: black;
    text-align: left;
  }
  
  .parrafo {
    background-color: aliceblue;
    color: deepskyblue;
    font-size: 18px;
    text-align: initial;
  }
  
  .prod {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: cyan;
    background-color: steelblue;
    text-align: center;
    padding: auto;
    margin: 5px;
  }
  
  .prod-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkturquoise;
    background-color: darkcyan;
    font-size: larger;
    text-align: center;
    margin: 5px;
  }

  
  .Act1 {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    text-align: center;
  }
  
  .act-general {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: lightskyblue;
    background-color: steelblue;
    text-align: center;
    margin: 15px;
  }
  
  .h1-hist{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  color: darkblue;
  background-color: skyblue;
  }
  .h2-hist{
   @extend .h1-hist;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  .h3-hist{
    @extend .h1-hist;
  }
  .h4-hist{
    @extend .h1-hist
  }
  
  .asociate-1 {

    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    text-align: center;
    margin: auto;
    background-color: skyblue;
  }
  
  .asociate-2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: aqua;
    background-color: cadetblue;
    text-align: center;
    margin: 3px;
  }
  

  .FormuMSJ {
   @include formu;}
  
  .nombre {@include formu;
  }
  
  .email {
    @include formu;
  }
  
  .msj {
    @include formu;
  }
  
  .form {
    padding: 0%;
  margin: 10%;
  }
  