.footer {
    padding: 30px 0;
  }
  
  .footer a {
    display: block;
    margin: 0 auto;
    text-align: center center center;
  }
  
  .footer img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .RacingFooter {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small
  }